version: '3'
services:
  frontend:
    build: ./frontend
    container_name: example-docker-frontend
    command: serve -s build -l 3000
    restart: unless-stopped
    ports:
      - "3000:3000"

  api:
    build: ./api
    container_name: example-docker-api
    command: npm run start
    restart: unless-stopped
    ports:
      - "8000:8000"

    environment:
      - PORT=8000
      - HOST=http://api-example-host.com
      - MONGO_URL=mongodb://api_db:27017/api
    depends_on:
      - api_db

  auth:
    build: ./auth
    container_name: example-docker-auth
    command: npm run start
    restart: unless-stopped
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
      - HOST=http://auth-example-host.com
      - MONGO_URL=mongodb://auth_db:27017/auth
    depends_on:
      - auth_db

  auth_db:
    image: mongo:latest
    container_name: example-docker-authdb
    volumes:
      - mongodb_auth:/data/db

  api_db:
    image: mongo:latest
    container_name: example-docker-api_db
    volumes:
      - mongodb_api:/data/db

volumes:
  mongodb_api:
  mongodb_auth:
  frontend:


