version: '3'
services:
  frontend:
    build: ./frontend
    container_name: example-docker-FRONTEND
    command: serve -s build -l 3000
    restart: unless-stopped
    # ports:
    #   - "3000:3000"
    networks:
      - example-docker-network

  api:
    build: ./api
    container_name: example-docker-API
    command: npm run start
    restart: unless-stopped
    # ports:
    #   - "8000:8000"

    environment:
      - PORT=8000
      - HOST=http://api-example-host.com
      - MONGO_URL=mongodb://api_db:27017/api
      - AUTH_API_URL=http://auth:8001/auth/api
    depends_on:
      - api_db
    networks:
      - example-docker-network

  auth:
    build: ./auth
    container_name: example-docker-AUTH
    command: npm run start
    restart: unless-stopped
    # ports:
    #   - "8001:8001"
    environment:
      - PORT=8001
      - HOST=http://auth-example-host.com
      - MONGO_URL=mongodb://auth_db:27017/auth
      - API_URL=http://api:8000/api
    depends_on:
      - auth_db
    networks:
      - example-docker-network

  auth_db:
    image: mongo:latest
    container_name: example-docker-AUTH_DB
    volumes:
      - mongodb_auth:/data/db
    networks:
      - example-docker-network

  api_db:
    image: mongo:latest
    container_name: example-docker-API_DB
    volumes:
      - mongodb_api:/data/db
    networks:
      - example-docker-network
  nginx:
    image: nginx:stable-alpine
    container_name: example-docker-NGINX
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf.prod:/etc/nginx/conf.d/nginx.conf
    networks:
      - example-docker-network
    depends_on:
      - frontend
      - api
      - auth
volumes:
  mongodb_api:
  mongodb_auth:


networks:
  example-docker-network:
    driver: bridge
